$def with (name, str1, settings, reg_time, level, mch_list)

$var title: 用户设置
$var css:
$var js:
$var name: $str1 $name

<div class="caption"><h2>用户设置</h2></div>

<form name="settings" method="post" action="/admin/user_setting">
<input type="hidden" name="uid" value="$settings['_id']" />

<table class="props_tb">
<thead>
        <tr class="even">
            <th width=100>项目</th>
                <th>内容</th>
        </tr>
</thead>
<tbody>

$if settings['_id']=='n/a':
    <tr><td>用户名</td><td class="t_l"><input type="text" name="uname" value=""/></td></tr>
$else:
    <tr><td>用户名</td><td class="t_l">$settings.get('uname','')</td></tr>
<tr><td>全名</td><td class="t_l"><input type="text" name="full_name" value="$settings.get('full_name','')"/></td></tr>
<tr><td>密码</td><td class="t_l"><input type="text" name="passwd" value=""/></td></tr>
<tr><td>注册时间</td><td class="t_l">$reg_time</td></tr>

<tr><td>用户类型</td><td class="t_l"><input type="radio" name="user_type" value="plat" onchange="$$('#mch_list').hide();"
        $if settings.get('user_type','mch')=='plat': 
            checked="checked"
    /> 平台用户 <input type="radio" name="user_type" value="mch" onchange="$$('#mch_list').show();"
        $if settings.get('user_type','mch')=='mch': 
            checked="checked"
    /> 商家用户
    <span id='mch_list'
        $if settings.get('user_type','mch')!='mch': 
            style="display: none;"
    > -- 所属商家:
        <select id="mch_id" name="mch_id">
            <option value="">--请选择--</option>
        $for k in mch_list:
            <option value="$k['mch_id']"
            $if settings.get('mch_id')==k['mch_id']:
                selected="selected"
            >$k['mch_name']</option>
        </select>
    </span>
</td></tr>


<tr><td rowspan="2">用户权限</td><td class="t_l">
    <input type="checkbox" name="priv" value="OBJ_STORE"
    $if 'OBJ_STORE' in level:
        checked="checked"
    /> 课程管理
    <input type="checkbox" name="priv" value="TOPIC_STORE"
    $if 'TOPIC_STORE' in level:
        checked="checked"
    /> 专辑管理
</td></tr>
<tr><td class="t_l">
    <input type="checkbox" name="priv" value="MERCHANT"
    $if 'MERCHANT' in level:
        checked="checked"
    /> 商家管理
    <input type="checkbox" name="priv" value="CATEGORY"
    $if 'CATEGORY' in level:
        checked="checked"
    /> 类目管理
    <input type="checkbox" name="priv" value="BANNER"
    $if 'BANNER' in level:
        checked="checked"
    /> 轮播图管理
    <input type="checkbox" name="priv" value="CHECK_OBJ"
    $if 'CHECK_OBJ' in level:
        checked="checked"
    /> 课程／专辑审核
    <input type="checkbox" name="priv" value="CHECK_EMPLOYER"
    $if 'CHECK_EMPLOYER' in level:
        checked="checked"
    /> 审核店主
    <input type="checkbox" name="priv" value="CRM"
    $if 'CRM' in level:
        checked="checked"
    /> 订单查询
</td></tr>

<tr><td>用户状态</td><td class="t_l"><input type="radio" name="login" value="1" 
        $if settings.get('login',0)==1: 
            checked="checked"
    /> 正常 <input type="radio" name="login" value="0"
        $if settings.get('login',0)==0: 
            checked="checked"
    /> 停用
</td></tr>

</tbody>
</table>

<p><input type="submit" name="button" id="button" value="保存" />
<input type="button" name="cancel" value="返回" onclick="history.go(-1);" /><p>

</form>
