$def with (name, str1, base_shop)

$var title: 添加用户
$var css:
$var js:
$var name: $str1 $name

<div class="caption"><h2>添加用户</h2></div>

<form name="settings" method="post" action="/admin/user_add">

<table class="props_tb">
<thead>
        <tr class="even">
        	<th>项目</th>
                <th>内容</th>
        </tr>
</thead>
<tbody>
<tr><td>用户名</td><td class="t_l"><input type="text" name="uname" value=""/></td></tr>
<tr><td>密码</td><td class="t_l"><input type="password" name="passwd" value=""/></td></tr>
<tr><td>全名</td><td class="t_l"><input type="text" name="full_name" value=""/>(名称|电话)</td></tr>
<tr><td rowspan="3">用户权限</td><td class="t_l">
	<input type="checkbox" name="priv" value="PLAT_SKU_STORE"/> SKU管理
	<!--input type="checkbox" name="priv" value="OP_ACTION"/> 运营设置-->
</td></tr>
<tr><td class="t_l">
	<input type="checkbox" name="priv" value="CRM"/> 订单查询
    <!--input type="checkbox" name="priv" value="REFUND"/> 财务退款 -->
</td></tr>
<tr><td class="t_l">
	<input type="checkbox" name="priv" value="REPORT_REPORT1"/> 线上订单清单
</td></tr>
<tr><td>用户状态</td><td class="t_l"><input type="radio" name="login" value="1" checked /> 正常
	<input type="radio" name="login" value="0" /> 停用
</td></tr>

</tbody>
</table>

<p><input type="submit" name="button" id="button" value="保存" />
<input type="button" name="cancel" value="返回" onclick="history.go(-1);" /><p>


</form>
