$def with (name, str1, sku)

$var title: 轮播图管理
$var css: /static/css/jquery.datetimepicker.css
$var name: $'|'.join(str1) $name
$var js: /static/js/upload.js?v=1.011 /static/js/jquery.datetimepicker.js
$var load: doFirst();date_init();
$var menu: #plat3

<script type="text/javascript">
/*初始化时间控件*/
function date_init(){
    $$('#start_time').datetimepicker();
    $$('#expire_time').datetimepicker();
}
</script>

$if sku['banner_id']=='n/a':
    <div class="caption"><h2>新增轮播图</h2></div>
$else:
    <div class="caption"><h2>修改轮播图</h2></div>

<form name="new_sku" id="new_sku" method="post" action="/plat/banner_edit">
<input type="hidden" name="image" id="form_image" value=""/>
<input type="hidden" name="banner_id" value="$sku['banner_id']"/>

<table class="props_tb">
<thead>
    <tr class="even">
        <th>项目</th>
        <th width="40%">内容</th>
        <th>说明</th>
    </tr>
</thead>
<tbody>
<tr><td>编号</td><td>$sku['banner_id']</td><td></td></tr>


<tr><td>轮播图名称</td><td>
    <input type="text" name="banner_name" id="banner_name" value="$sku.get('banner_name', '')"/>
    </td><td>内部使用</td></tr>

<tr><td>图片</td><td>
    <ul id="image-list">
        $if sku.has_key('image') and len(sku['image'])>0:
            $for i in [sku['image']]:
                $if len(i)>0:
                  <li id="$(i.split('.')[0])" style="width: 450px;">
                    <img src="/static/image/product/$(i[:2])/$i"/>
                    <button onclick="remove_image('$(i.split('.')[0])');return false;">删除</button>
                  </li>
    </ul>
    </td><td>在页面下方上传图片，<br/>只会保存第1张</td></tr>

<tr><td>点击跳转的url</td><td>
    <input type="text" name="click_url" id="click_url" value="$sku.get('click_url', '')" size="50"/>
    </td><td>为空则无跳转</td></tr>


<tr><td>开始时间</td><td>
    <input type="text"  value="$:sku.get('start_time','')" id="start_time" name="start_time" readonly="readonly">
</td><td></td></tr>

<tr><td>结束时间</td><td>
    <input type="text"  value="$:sku.get('expire_time','')" id="expire_time" name="expire_time" readonly="readonly">
</td><td></td></tr>

<tr><td>App显示排序权重</td><td>
    <input type="text" name="sort_weight" value="$sku.get('sort_weight',999)" pattern="[0-9]+" title="必须是数字" size="15"/>
    </td><td>0排最前，999排最后</td></tr>

<tr><td>状态</td><td>
    <input type="radio" name="available" value="1"
    $if int(sku.get('available','0'))==1:
        checked="checked"
    /> 在使用
    <input type="radio" name="available" value="0"
    $if int(sku.get('available','0'))==0:
        checked="checked"
    /> 停用
    </td><td></td></tr>

</tbody></table>

<p><input type="submit" name="submit" id="submit" value="保存"/>
<input type="button" name="cancel" value="返回" onclick="history.go(-1);" /><p>
</form>


<div class="article_box">
  <div id="image-main">
    <form method="post" enctype="multipart/form-data"  action="">
      <input type="file" name="images" id="images" />
      <button type="submit" id="btn">上传图片</button>
    </form>
    <div id="response"></div>
  </div>
</div>
</br></br>


<div class="article_box">
  <div>操作日志：</div>
  <textarea rows="8" cols="80" id="history">
  $for h in sku.get('history',[]):
      $h[0]，用户：$h[1]，操作：$h[2]；
  </textarea>
</div>

<br/>
