$def with (name, str1, skus, pages)

$var title: 轮播图管理
$var css:
$var js:
$var name: $'|'.join(str1) $name
$var load:
$var menu: #plat3

<div class="caption"><h2>轮播图管理</h2></div>

<p><a class="abtn" href="/plat/banner_edit">新建轮播图</a></p>

<table class="props_tb">
<thead>
  <tr class="even">
    <th width="10%">编号</th>
    <th>名称</th>
    <th>开始时间</th>
    <th>结束时间</th>
    <th>排序权重</th>
    <th>状态</th>
  </tr>
</thead>
<tbody>

$for u in skus:
  <tr>
  <td><a href="/plat/banner_edit?banner_id=$u['banner_id']">$u['banner_id']</a></td>
  <td>$u.get('banner_name','')</td>
  <td>$u.get('start_time')</td>
  <td>$u.get('expire_time')</td>
  <td>$u.get('sort_weight')</td>
  <td>$('可使用' if u['available']==1 else '停用')</td>
  </tr>

</tbody>
</table>

<br/>
<div class="article_box">
    页码：
    $for x in pages:
        <a href="/plat/banner?page=$x">$(x+1)</a>&nbsp;&nbsp;
</div>
