$def with (name, str1, skus, total_paid, status, province_id, sheng='')

$var title: 批量处理订单
$var css:
$var js: 
$var name: $'|'.join(str1) $name
$var load: 
$var menu: #ordr1

<script type="text/javascript">
function goReport(){
    window.location.href='/online/batch_list?status=$status&sheng=$sheng&province_id=$province_id&ret_type=';
}
</script>

$if status=='DISPATCH':
    <div class="caption"><h2>待配送订单  </h2></div>
$elif status=='ONROAD':
    <div class="caption"><h2>配送中订单  </h2></div>
$elif status=='ONROAD':
    <div class="caption"><h2>配送中订单  </h2></div>
$else:
    <div class="caption"><h2>$status状态订单  </h2></div>

<div class="article_box">

<p><input type="button" onclick="location.href='/online/batch_job';" value="返回" /></p>

<h3>目的地：$sheng</h3>

<br/>

<p>共 $total_paid 个订单 </p>

<table class="props_tb">
<thead>
  <tr class="even">
    <th>订单状态</th>
    <th>订单编号</th>
    <th>商品清单</th>
    <th>收货省市</th>
    <th>收货姓名</th>
    <th>收货电话</th>
    <th>收货地址</th>
  </tr>
</thead>
<tbody>
$for u in skus:
  <tr>
  <td>$u['status']</td>
  <td><a href="/view_event?todo=$u['order_id']" target="_blank">$u['order_id']</a></td>
  <td>
  $for h in u['cart']:
    <div>$h['product_id'] $h['title'] - 数量：$h['num2']</div>
  </td>
  <td>$u['county_name']</td>
  <td>$u['address'][1]</td>
  <td>$u['address'][2]</td>
  <td>$u['address'][3]</td>
  </tr>
</tbody>
</table>

<p><input class="formbutton" type="button" name="button" id="button" value="导出csv" onclick="goReport();" /></p>

</div>

