$def with (name, str1, sku)

$var title: 类目管理
$var css:
$var name: $'|'.join(str1) $name
$var js: 
$var load: doFirst();
$var menu: #plat2

$if sku['cate_id']=='n/a':
    <div class="caption"><h2>新增类目信息</h2></div>
$else:
    <div class="caption"><h2>修改类目信息</h2></div>

<form name="new_sku" id="new_sku" method="post" action="/plat/category_edit">
<input type="hidden" name="cate_id" value="$sku['cate_id']"/>

<table class="props_tb">
<thead>
    <tr class="even">
        <th>项目</th>
        <th width="40%">内容</th>
        <th>说明</th>
    </tr>
</thead>
<tbody>
<tr><td>类目编号</td><td>$sku['cate_id']</td><td></td></tr>


<tr><td>类目名称</td><td>
    <input type="text" name="title" id="title" value="$sku.get('title', '')"/>
    </td><td></td></tr>

<tr><td>状态</td><td>
    <input type="radio" name="available" value="1"
    $if int(sku.get('available','0'))==1:
        checked="checked"
    /> 在使用
    <input type="radio" name="available" value="0"
    $if int(sku.get('available','0'))==0:
        checked="checked"
    /> 停用
    </td><td></td></tr>

</tbody></table>

<p><input type="submit" name="submit" id="submit" value="保存"/>
<input type="button" name="cancel" value="返回" onclick="history.go(-1);" /><p>
</form>


<div class="article_box">
  <div>操作日志：</div>
  <textarea rows="8" cols="80" id="history">
  $for h in sku.get('history',[]):
      $h[0]，用户：$h[1]，操作：$h[2]；
  </textarea>
</div>

<br/>
