$def with (name, str1, skus, pages, OBJ_STATUS)

$var title: 课程审核
$var css:
$var js:
$var name: $'|'.join(str1) $name
$var load:
$var menu: #plat5

<div class="caption"><h2>课程审核</h2></div>

<table class="props_tb">
<thead>
  <tr class="even">
    <th>课程编号</th>
    <th width="15%">课程名</th>
    <th width="25%">标题</th>
    <th>售价</th>
    <th>状态</th>
    <th width="15%">备注</th>
    <th>操作</th>
  </tr>
</thead>
<tbody>

$for u in skus:
  <tr><td>$u['obj_id']</td>
  <td>$u['obj_name']</td>
  <td>$u.get('title','')</td>
  <td>$('%.2f'%(u['price']/100.0))</td>
  <td>$OBJ_STATUS[u['status']]</td>
  <td>$u['note']</td>
  <td>
    <a class="abtn" href="/plat/check_obj_detail?obj_id=$u['obj_id']&action=VIEW">查看</a>&nbsp;
    $if u['status'] == 'WAIT':
        <a class="abtn" href="/plat/check_obj_detail?obj_id=$u['obj_id']&action=CHECK">开始审核</a>
    $elif u['status'] in ['DENY', 'PASSED']:
        <a class="abtn" href="/plat/check_obj_detail?obj_id=$u['obj_id']&action=CHECK">修改审核结果</a>

  </td></tr>

</tbody>
</table>

<br/>
<div class="article_box">
    页码：
    $for x in pages:
        <a href="/plat/check_obj?page=$x">$(x+1)</a>&nbsp;&nbsp;
</div>
