$def with (name, str1, r, next, qtype, back, back_id, parent='1')

$var title: 地址编码－$qtype
$var css:
$var js:
$var name: $'|'.join(str1) $name
$var load:
$var menu: #plat16

<div class="caption"><h2>地址编码－$qtype</h2></div>

<form name="settings" method="post" action="/plat/province">
<input type="hidden" name="qtype" value="$qtype">
<input type="hidden" name="parent" value="$parent">

<input type="submit" name="submit" id="button" value="保存" />

$if back:
    <input type="button" name="cancel" value="返回" onclick="location.href='/plat/province?qtype=$back&parent=$back_id';" /><p>

<table class="props_tb">
<thead>
  <tr class="even">
    <th>ID</th>
    <th>上级地址</th>
    <th>名称</th>
    <th>是否有效</th>
  </tr>
</thead>
<tbody>

$for u in r:
    <tr><td>$u[0]</td>
    <td>$u[2]</td>
    $if next:
        <td><a href='/plat/province?qtype=$next&parent=$u[0]'>$u[1]</a></td>
    $else:
        <td>$u[1]</td>
    <td>
    <input type="radio" name="status_$u[0]" value="1"
    $if u[3]==1:
        checked="checked"
    > 是
    <input type="radio" name="status_$u[0]" value="0"
    $if u[3]==0:
        checked="checked"
    > 否
    </td>

    </td></tr>
</tbody>

</table>

</form>

<br/>