$def with (name, str1, sku, cate)

$var title: 平台管理
$var css:
$var name: $'|'.join(str1) $name
$var js: /static/js/upload.js?v=1.010
$var load: doFirst();
$var menu: #plat1

<div class="caption"><h2>修改商品信息</h2></div>

<form name="new_sku" id="new_sku" method="post" action="/plat/sku_store_edit">
<input type="hidden" name="image" id="form_image" value=""/>
<input type="hidden" name="product_id" value="$sku['product_id']"/>

<table class="props_tb">
<thead>
    <tr class="even">
        <th>项目</th>
        <th width="40%">内容</th>
        <th>说明</th>
    </tr>
</thead>
<tbody>
<tr><td>品号</td><td>$sku['product_id']</td><td></td></tr>


<tr><td>品名</td><td>
    <input type="text" name="sku_name" id="sku_name" value="$sku.get('sku_name', '')"/>
    </td><td>内部使用</td></tr>

<tr><td>前台商品类目</td><td>
<select id="category" name="category">
    <option value="">--请选择--</option>
$for k in cate:
    <option value="$k['key']"
    $if sku['category']==k['key']:
        selected="selected"
    >$k['title']</option>
</select>


<tr><td>图片</td><td>
    <ul id="image-list">
        <li style="width: 450px;">
            $if sku.has_key('image') and len(sku['image'])>0:
                $for i in sku['image']:
                    $if len(i)>0:
                      <li><img src="/static/image/product/$(i[:2])/$i"/></li>
        </li>
    </ul>
    </td><td>在页面下方上传图片;</br>图1：首页列表商品图 250X188px,小于等于30KB;</br>图2之后：商品详情页图580X435px,小于等于60KB;</td></tr>

<tr><td>App销售</td><td>
    <input type="radio" name="list_in_app" value="0"
    $if sku['list_in_app']==0:
        checked="checked"
    /> 不是
    <input type="radio" name="list_in_app" value="1"  
    $if sku['list_in_app']==1:
        checked="checked"
    /> APP销售
    </td><td>决定是否在前端显示</td></tr>

<tr><td>App显示的标题</td><td>
    <input type="text" name="app_title" id="app_title" value="$sku['app_title']" />
    </td><td>只会在app中显示</td></tr>
    
<tr><td>App显示的副标题</td><td>
    <input type="text" name="sub_title" id="sub_title" value="$sku.get('sub_title', '')" />
    </td><td>只会在app中显示</td></tr>

<tr><td>App商品描述</td><td>
    <textarea rows="3" name="description" id="description">$sku.get('description', '')</textarea>
    </td><td></td></tr>


<tr><td>app正常售价</td><td>
    <input type="text" name="price" id="ref_price" value="$sku['price']" size="15"
    pattern="[0-9]+[.]{0,1}[0-9]*" title="必须是数字"/> 元
    </td><td>默认售价</td></tr>

<tr><td>App促销品</td><td>
    <input type="radio" name="is_onsale" value="1"
    $if sku['is_onsale']==1:
        checked="checked"
    /> 是
    <input type="radio" name="is_onsale" value="0"
    $if sku['is_onsale']==0:
        checked="checked"
    /> 不是
    </td><td></td></tr>

<tr><td>App促销价格</td><td>
    <input type="text" name="special_price" id="special_price" value="$sku['special_price']" 
    pattern="[0-9]+[.]{0,1}[0-9]*" title="必须是数字"/> 元
    </td><td>为促销品时，此价格才有意义</td></tr>

<tr><td>App每客限售</td><td>
    <input type="text" name="limit_by_id" value="$sku.get('limit_by_id',0)" pattern="[0-9]+" title="必须是数字"/>
    </td><td>0表示不限售</td></tr>

<tr><td>App限售厦门地区</td><td>
    <input type="radio" name="limit_xm" value="1" 
        $if sku.get('limit_xm',0)==1:
        checked="checked"
    /> 是
    <input type="radio" name="limit_xm" value="0" 
        $if sku.get('limit_xm',0)==0:
        checked="checked"
    /> 否
    </td><td>岛外6件起送</td></tr>

<tr><td>App售完隐藏</td><td>
    <input type="radio" name="hide_after_0" value="1" 
        $if sku.get('hide_after_0',0)==1:
        checked="checked"
    /> 是
    <input type="radio" name="hide_after_0" value="0" 
        $if sku.get('hide_after_0',0)==0:
        checked="checked"
    /> 否
    </td><td></td></tr>

<tr><td>App可售库存</td><td>
    <input type="text" name="stock" value="$sku.get('stock',0)" pattern="[0-9]+" title="必须是数字"/>
    </td><td>小于等于0表示售罄</td></tr>

<tr><td>App当前销量</td><td>
    <input type="text" name="volume" value="$sku.get('volume',0)" pattern="[0-9]+" title="必须是数字"/>
    </td><td>须大于0</td></tr>

<tr><td>App显示排序权重</td><td>
    <input type="text" name="sort_weight" value="$int(sku['sort_weight'])" size="15"/>
    <input type="checkbox" name="sort_weight_refresh" value="all"/>全部刷新
    </td><td>0排最前，999排最后</td></tr>


<tr><td>状态</td><td>
    <input type="hidden" name="available" value="$int(sku.get('available', '0'))">
    $if int(sku.get('available', ''))==1:
        在使用
    $elif int(sku.get('available', ''))==0:
        停用
    </td><td>停用时，所有库存将下架</td></tr>

<tr><td>备注</td><td>
    <textarea rows="3" name="note">$sku['note']</textarea>
    </td><td>内部备注</td></tr>
</tbody></table>
<p><input type="submit" name="submit" id="submit" value="保存"/>
<input type="button" name="cancel" value="返回" onclick="history.go(-1);" /><p>
</form>

<div class="article_box">
  <div id="image-main">
    <form method="post" enctype="multipart/form-data"  action="">
      <input type="file" name="images" id="images" />
      <button type="submit" id="btn">上传图片</button>
    </form>
    <div id="response"></div>
  </div>
</div>
</br></br>

<div class="article_box">
  <div>操作日志：</div>
  <textarea rows="8" cols="80" id="history">
  $for h in sku['history']:
      $h[0]，用户：$h[1]，操作：$h[2]；
  </textarea>
</div>

<br/>
