$def with (name, str1, skus, pages)

$var title: 专辑管理
$var css:
$var js:
$var name: $'|'.join(str1) $name
$var load:
$var menu: #mcht2

<div class="caption"><h2>专辑管理</h2></div>

<p><a class="abtn" href="/mch/topic_store_edit">新建专辑</a></p>

<table class="props_tb">
<thead>
  <tr class="even">
    <th>编号</th>
    <th width="15%">专辑名</th>
    <th width="25%">标题</th>
    <th>状态</th>
    <th width="15%">备注</th>
  </tr>
</thead>
<tbody>

$for u in skus:
  <tr><td><a href="/mch/topic_store_edit?tpc_id=$u['tpc_id']">$u['tpc_id']</a></td>
  <td>$u['tpc_name']</td>
  <td>$u.get('title','')</td>
  <td>$('可使用' if u['available']==1 else '停用')</td>
  <td>$u['note']</td></tr>

</tbody>
</table>

<br/>
<div class="article_box">
    页码：
    $for x in pages:
        <a href="/mch/topic_store?page=$x">$(x+1)</a>&nbsp;&nbsp;
</div>
