$def with (name, str1, skus, pages, OBJ_STATUS)

$var title: 专辑管理
$var css:
$var js:
$var name: $'|'.join(str1) $name
$var load:
$var menu: #mcht2

<div class="caption"><h2>专辑管理</h2></div>

<p><a class="abtn" href="/mch/topic_store_edit">新建专辑</a></p>

<table class="props_tb">
<thead>
  <tr class="even">
    <th>编号</th>
    <th width="15%">专辑名</th>
    <th width="25%">标题</th>
    <th>课程数</th>
    <th>状态</th>
    <th width="15%">备注</th>
    <th>操作</th>
  </tr>
</thead>
<tbody>

$for u in skus:
  <tr><td>$u['tpc_id']</td>
  <td>$u['tpc_name']</td>
  <td>$u.get('title','')</td>
  <td>$u.get('obj_count')</td>
  <td>$OBJ_STATUS[u['status']]</td>
  <td>$u['note']</td>
  <td>
    <a class="abtn" href="/mch/topic_store_edit?tpc_id=$u['tpc_id']">修改</a>&nbsp;
    $if u['status']=='SAVED':
        <a class="abtn" href="/mch/check_submit?tpc_id=$u['tpc_id']">提交审核</a>
  </td></tr>
</tbody>
</table>

<br/>
<div class="article_box">
    页码：
    $for x in pages:
        <a href="/mch/topic_store?page=$x">$(x+1)</a>&nbsp;&nbsp;
</div>
