$def with (name, str1, online_obj, all_obj, all_mch)

$var title: 专辑/上下架管理
$var css: /static/css/jquery.datetimepicker.css
$var name: $'|'.join(str1) $name
$var js: /static/js/jquery.datetimepicker.js /static/js/cateory_edit.js
$var load: date_init();doFirst();
$var menu: #plat4

<script type="text/javascript">
/*初始化时间控件*/
function date_init(){
    $$('#start_time').datetimepicker();
    $$('#expire_time').datetimepicker();
}

</script>

<div class="caption"><h2>专辑/上下架管理</h2></div>

<form name="new_sku" id="new_sku" method="post" action="/plat/topic_edit">
<input type="hidden" name="online_list" id="form_online" value=""/>


<table class="props_tb">
<thead>
    <tr class="even">
        <th width="45%">上架专辑</th>
        <th></th>
        <th width="45%">可用专辑</th>
    </tr>
</thead>
<tbody>

<tr><td>
    <select multiple="multiple" size="10" style="width: 90%" name="online_obj" id="online_obj">
    $for i in online_obj:
        $if all_obj.has_key(i):
            <option value ="$i">$('[%s %s] %s'%(all_mch[all_obj[i]['mch_id']],all_obj[i]['tpc_id'],all_obj[i]['tpc_name']))</option>
    </select> 
    <div><button onclick="MoveUpOrDown(true);return false;">上移</button>
    <button onclick="MoveUpOrDown(false);return false;">下移</button></div>
</td><td>
    <button onclick="MoveLeftOrRight(true);return false;">⇦ 上架 </button><br/><br/>
    <button onclick="MoveLeftOrRight(false);return false;">⇨ 下架 </button>
</td><td>
    <select multiple="multiple" size="10" style="width: 90%" id="all_obj">
    $for i in all_obj.keys():
        $if i not in online_obj:
            <option value ="$i">$('[%s %s] %s'%(all_mch[all_obj[i]['mch_id']],all_obj[i]['tpc_id'],all_obj[i]['tpc_name']))</option>
    </select>    
</td></tr>

</tbody></table>

<p><input type="submit" name="submit" id="submit" value="保存"/>
<input type="button" name="cancel" value="返回" onclick="history.go(-1);" /><p>
</form>


<br/>

