$def with (name, str1, sku, obj_list)

$var title: 专辑管理
$var css:
$var name: $'|'.join(str1) $name
$var js: /static/js/resumable.js /static/js/upload_pic.js?v=1.3
$var load: doFirst_pic();
$var menu: #mcht2

$if sku['tpc_id']=='n/a':
    <div class="caption"><h2>新增专辑信息</h2></div>
$else:
    <div class="caption"><h2>修改专辑信息</h2></div>

<form name="new_sku" id="new_sku" method="post" action="/mch/topic_store_edit">
<input type="hidden" name="image" id="form_image" value=""/>
<input type="hidden" name="tpc_id" value="$sku['tpc_id']"/>

<table class="props_tb">
<thead>
    <tr class="even">
        <th>项目</th>
        <th width="40%">内容</th>
        <th>说明</th>
    </tr>
</thead>
<tbody>
<tr><td>专辑编号</td><td>$sku['tpc_id']</td><td></td></tr>


<tr><td>专辑名</td><td>
    <input type="text" name="tpc_name" id="tpc_name" value="$sku.get('tpc_name', '')"/>
    </td><td>内部使用</td></tr>

<tr><td>标题图片</td><td>
    <a class="abtn" href="javascript:void(0);" id="picBrowseButton">上传图片</a>
    <ul id="image-list">
        $if sku.has_key('image') and len(sku['image'])>0:
            $for i in sku['image']:
                $if len(i)>0:
                  <li id="$(i.replace('.','_'))" style="width: 450px;">
                    <img src="/static/image/product/$(i[:2])/$i"/>
                    <button onclick="remove_image('$(i.replace('.','_'))');return false;">删除</button>
                  </li>
    </ul>
    </td><td>可以上传多图</td></tr>

<tr><td>标题</td><td>
    <input type="text" name="title" id="title" value="$sku.get('title','')" />
    </td><td>在app中显示</td></tr>
    
<tr><td>副标题</td><td>
    <input type="text" name="title2" id="title2" value="$sku.get('title2','')" />
    </td><td>在app中显示</td></tr>

<tr><td>描述说明</td><td>
    <textarea rows="3" name="description" id="description">$sku.get('description', '')</textarea>
    </td><td></td></tr>

<tr><td>售价</td><td>
    <input type="text" name="price" id="price" value="$('%.2f'%(sku.get('price',0)/100.0))" size="15"
    pattern="[0-9]+[.]{0,1}[0-9]*" title="必须是数字"/> 元
    </td><td>默认售价</td></tr>

<tr><td>课程列表</td><td>
    $for x in obj_list:
        <div><a href="/mch/obj_store_edit?obj_id=$x['obj_id']">$x['obj_id'] - $x['obj_name']（$x['title']）</a></div>
    </td><td>在课程管理里添加课程</td></tr>

<tr><td>备注</td><td>
    <textarea rows="3" name="note">$sku.get('note','')</textarea>
    </td><td>内部备注</td></tr>

</tbody></table>

<p><input type="submit" name="submit" id="submit" value="保存"/>
<input type="button" name="cancel" value="返回" onclick="history.go(-1);" /><p>
</form>

<div class="article_box">
  <div>操作日志：</div>
  <textarea rows="8" cols="80" id="history">
  $for h in sku.get('history',[]):
      $h[0]，用户：$h[1]，操作：$h[2]；
  </textarea>
</div>

<br/>
